<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>recommend</title>
    <link rel="stylesheet" href="http://static.tcy365.com/cdn/style-unit/index/1.0.0/index.css"/>
</head>
<body>
    <div class="container">
        <p class="title">目录</p>
        <ul class="list">
            <li><a href="/view/RecommendPosition.html" target="_blank">recommendPosition 位置录入表-位置管理</a></li>
            <li><a href="/view/RecommendTime.html" target="_blank">recommendTime 位置录入表-时间管理</a></li>
            <li><a href="/view/RecommendLayout.html" target="_blank">recommendLayout 客户端显示位置个数管理</a></li>
            <li><a href="/view/RecommendType.html" target="_blank">recommendType 推荐类型管理</a></li>
            <li><a href="/view/RecommendRule.html" target="_blank">recommendRule 推荐规则管理（规则录入）</a></li>
            <li><a href="/view/RecommendMultiPositionSimulator.html" target="_blank">recommendMultiPositionSimulator 输出模拟页面-多位置</a></li>
            <li><a href="/view/RecommendSinglePositionSimulator.html" target="_blank">recommendSinglePositionSimulator 输出模拟页面-单位置</a></li>
            <li><a href="/view/RecommendImport.html" target="_blank">recommendImport 参数表</a></li>
        </ul>
    </div>
</body>
</html>
